# Request reviews from the formatting team for all PRs
* @polkadot-developers/docs-formatting-team

# Request reviews from the content team for all PRs
* @polkadot-developers/docs-content-team

# Mock PR