frame-benchmarking = { version = "37.0.0", default-features = false }
runtime-benchmarks = [
    "frame-benchmarking/runtime-benchmarks",
    "frame-support/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
    "sp-runtime/runtime-benchmarks",
]
std = [
    # ...
    "frame-benchmarking?/std",
    # ...
]


