/* Container layout */
.toggle-container {
  display: flex;
  flex-direction: column;
}

/* Panel layout */
.toggle-panel,
.toggle-header > span,
.page-header-row[data-variant] {
  display: none;
}

.toggle-panel.active,
.toggle-header > span.active {
  display: block;
}

.page-header-row[data-variant].active {
  display: flex;
  margin-top: 0;
}

.toggle-header {
  display: flex;
  justify-content: space-between;
  gap: var(--p-3)
}

/* Button container */
.toggle-buttons {
  display: inline-flex;
  position: relative;
  background: var(--color-border-strong);
  border-radius: var(--rounded-full);
  padding: var(--py-1);
  margin-bottom: var(--p-2);
  border: 1px solid var(--color-border);
  width: fit-content;
  height: fit-content;
}

/* Buttons */
.toggle-btn {
  z-index: 2;
  padding: var(--py-1) var(--py-3);
  border-radius: var(--rounded-full);
  font-weight: 500;
  color: var(--md-default-fg-color);
  cursor: pointer;
  transition: color 0.25s ease;
}

/* Active text color */
.toggle-btn.active {
  color: var(--md-default-bg-color);
}

/* Slider background */
.toggle-slider {
  position: absolute;
  top: var(--py-1);
  bottom: var(--py-1);
  left: 0;
  background: var(--md-primary-bg-color);
  border-radius: var(--rounded-full);
  z-index: 1;
  transition: all 0.25s ease;
}